@charset "UTF-8";


.mainAbout{
	display:flex;
	flex-direction: column;
	min-height: calc(100vh-88px);
	align-items: center;
	padding-top:clamp(1rem, 5vh, 4rem);
}



.tableAbout{
	max-width:900px;
	width:90%;
	color:#f4f4f4;
	padding: 15px 10px 15px 10px;
}


.tableAbout td{
	text-align:left;
	}
	
	



.tableAbout h1, h2{
	color:#f4f4f4;
	font-family:'Poppins', sans-serif;
}






.tableAbout p{
	font-size: 1.4rem;
}

@media (max-width:768px){
	.tableAbout{
		padding: 10px 5px 10px 5px;
	}

	.tableAbout p{
	font-size: 1.2rem;
	}

	.tableAbout h1, h2{
	text-align: center;
	}


	.tdMod{
		display:none;
	}

	.logo:hover{
    transform: translateX(15%) scale(1.1);
  	}
}