@charset "UTF-8";
 


.divForm{
	background-color: #1e293b;
	border:1px solid #27354d;	
	max-width:500px;
	width:90%;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-40%);
	padding: 5px 10px 5px 10px;
	justify-items: center;
	box-shadow:0 10px 25px rgba(0,0,0,0.3);
}


.tableForm{
	font-family:'Poppins', sans-serif;
	color:#f8f8f8;
	border-spacing: 0 10px; /* Horizontal | Vertical */
}


.tableForm td{
	text-align:center;
}

.textGeneral{
	font-family:'Roboto', Arial, sans-serif;
	font-size:1.2rem;
	border-radius:3px;
	padding:5px 10px 5px 10px;
	width: 100%;
	border-style:none;
	transition-duration:all 0.3s ease-in-out;
	background-color:#f8f8f8;
}

.textGeneral:hover{
	background-color:#e0e0e0;
}

.textGeneral:focus{
	background-color:#e0e0e0;
}


.btnEnviar{
	font-family:'Audiowide', cursive;
  	text-transform: uppercase;
	text-decoration:none;
	background-color:#e8e8e8;
	border-radius:3px;
	border-style:none;
	cursor:pointer;
	padding:8px 5px 8px 5px;
	transition-duration:0.3s;
}

.btnEnviar:hover{
	background-color:#1f1f92;
	color:#e8e8e8;
	transform:scale(1.1);
}

@media (max-width:768px){
	.divForm{
	transform:translate(-50%,-40%);
	padding: 5px;
	}

	.textGeneral{
	font-family:'Roboto', Arial, sans-serif;
	font-size:1rem;
	border-radius:3px;
	padding:5px;
	width: 100%;
	border-style:none;
	transition-duration:all 0.3s ease-in-out;
	background-color:#f8f8f8;
	}

	.btnEnviar{
	font-family:'Audiowide', cursive;
  	text-transform: uppercase;
	text-decoration:none;
	font-size: 0.9rem;
	background-color:#e8e8e8;
	border-radius:3px;
	border-style:none;
	cursor:pointer;
	padding:6px 3px 6px 3px;
	transition-duration:0.3s;
	}

	.tableForm h1{
		font-size: 1.5rem;
	}
}


