@charset "UTF-8";


.mainMod{
  display: flex;
  flex-direction: column;   /* divs uno abajo del otro */
  align-items: center;      /* centra horizontalmente */ 
  min-height: calc(100vh - 88px); /* 88px: altura del header */ /* ocupa toda la altura de la pantalla */
  gap: 50px;
  padding-top:clamp(1rem, 5vh, 4rem);;
  padding-bottom: 2rem;
}

/* UTILIZAR justify-content center CUANDO SE NECESITE CENTRAR VERTICALMENTE
   Y CUANDO EL main PUEDE CONTENER UNA CANTIDAD VARIABLE (INDEFINIDA) DE CONTENIDO.
   SI SE UTILIZAN MÁS DE DOS divs, CONVIENE ELIMINAR EL justify-content: center
*/



.content { 
	grid-area: content; 
}

.footer  { 
	grid-area: footer; 
}






.logo{
	background-color:#0f172a;
	color:#f8fafc;
	cursor:default;
}

.logo:hover{
	transform: none;
}

.lgo:active{
	transform:none;
}

/*
Titulos color: #f8fafc
Texto color: #cbd5e1

Botones, links, detalles color de fondo: #818cf8

display:flex -> SIRVE PARA LOS divs QUE CONTENGAN ADENTRO ELEMENTOS COMO table, grid, layout
display:block -> SIRVE PARA LOS divs QUE CONTENGAN SOLO TEXTO

*/

.divPerfil{
	background-color: #1e293b;
	border:1px solid #27354d;
	max-width:750px;
	width:90%;
	border-radius:6px;
	color:#f8fafc;
	font-family:'Poppins', sans-serif;
	font-size:14px;
	padding:15px 10px 10px 10px;
	margin:0;
	box-shadow:0 10px 25px rgba(0,0,0,0.3);
	z-index: 1;
	justify-self: center;
}




.editImagenPerfil{
	width:160px;
	height:160px;
	border-radius:6px;
	border-radius: 2px;
	border-style: solid;
	border-color:#f8fafc;
}

.tablePerfil{
	width:100%;
}


.tablePerfil td{
	text-align: center;
}



.divPerfil2{
	background-color: #1e293b;
	border:1px solid #27354d;
	border-radius:6px;
	max-width:850px;
	width:90%;
	margin:0;
	box-shadow:0 10px 25px rgba(0,0,0,0.3);
	justify-self: center;
}

.tableLang{
	 border-collapse: separate; /* Esto asegura que los bordes de las celdas sean separados */
     border-spacing: 15px; /* Establece el espacio entre las columnas y filas */
     width: 100%;
	
}

.tableLang td{
	background-color:#c8c8c8;
	text-align:center;
	border-radius:3px;
	padding:10px 2px 10px 2px;
}

.tableLang p{
	font-size:0.8rem;
}


.imgLang{
	background-color:#b4b4b4;
	border-radius:6px;
	width:100px;
	height:100px;
	padding:10px;
}



/* MODIFICAR LOS position: absolute POR Grid. El display:grid VA EN UN main O body */


.divPerfil3{
	background-color: #1e293b;
	border:1px solid #27354d;
	border-radius:6px;
	max-width:750px;
	width:90%;
	margin:0;
	box-shadow:0 10px 25px rgba(0,0,0,0.3);
	color:#f8fafc;
	text-align: left;
	padding:15px 20px 15px 20px;
	z-index: 1;
}

.divPerfil3 h1{
	font-family:'Poppins', sans-serif;
}

.divPerfil3 p{
font-size: 1.4rem;
}



@media (max-width:768px){



.divPerfil{
	font-size:0.5rem;
	padding:15px 10px 10px 10px;
	box-shadow:0 10px 25px rgba(0,0,0,0.3);
}


.editImagenPerfil{
	width:100px;
	height:100px;
}

.divPerfil2{
	margin:0;
	box-shadow:0 10px 25px rgba(0,0,0,0.3);
	padding: 15px 8px 15px 8px;
	
}
 


.tableLang{
	border-collapse: collapse;
	display: grid;
	position:relative;
	width:100%;
}

.tableLang tr{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	gap:20px 10px;
}


.tableLang td{
	padding:10px 2px 10px 2px;
}
/* MODIFICAR PADDINGs */
.tableLang p{
	font-size:0.6rem;
}


.imgLang{
	background-color:#b4b4b4;
	border-radius:6px;
	width:60px;
	height:60px;
	padding:5px;
}

.divPerfil3{
	margin:0;
	box-shadow:0 10px 25px rgba(0,0,0,0.3);
	color:#f8fafc;
	text-align: left;
	padding:15px 20px 15px 20px;
	z-index: 1;
}

.divPerfil3 p{
font-size: 0.8rem;
}

.divPerfil3 h1{
	font-size:1rem;
}


}


