@charset "UTF-8";


.mainProyectosTotal{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh-88px);
  gap:50px;
  padding-top: clamp(1rem, 5vh, 4rem);
  padding-bottom: 2rem;
}



  

.divExplicacion{
  background-color: #1e293b;
	border:1px solid #27354d;
	color:#f8fafc;
  border-radius: 6px;
	max-width:70%;
  width:90%;
	text-align:left;
  padding:30px 20px 30px 20px;
	margin:0;
	box-shadow:0 10px 25px rgba(0,0,0,0.3);
}

.divExplicacion h1{
  text-align: center;
  font-family:'Poppins', sans-serif;
}

.divExplicacion h2{
  font-family:'Poppins', sans-serif;
}




/* NO USAR EN ESTA SECCIÓN LOS divs CON COLORES PARA UTILIZARLO EN LAS EXPLICACIONES LARGAS, 
CON EL COLOR DE FONDO ALCANZA*/

/* USAR PARA LOS DIVS DE IMAGENES Y VIDEOS */
.video-container,
.img-container {
  background: rgba(255,255,255,0.05); /* un toque suave */
  padding: 20px;
  border-radius: 12px;
  backdrop-filter: blur(6px); /* bonito efecto en fondos oscuros */
}

/*
COLORES A UTILIZAR EN LA EXPLICACIÓN DEL PROYECTO:
Párrafos largos: #F2F4F7

Títulos: #7CC9FF

Resaltados: #5CE1E6

Metadatos / texto secundario: #C9D1D9
*/


/* SLIDER (TRANSICIÓN) DE IMÁGENES */

.container{
	background-color: #1e293b;
	border:1px solid #27354d;
	color:#f8fafc;
  border-radius: 6px;
  max-width: 70%;
  width:90%;
  font-family:'Poppins', sans-serif;
  text-align:center;
  padding:15px 20px 15px 20px;
	margin:0;
	box-shadow:0 10px 25px rgba(0,0,0,0.3);
  justify-items: center;
}


.container .wrapper{
  width: 750px;
height:450px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
  margin: 2rem auto;
  overflow: hidden;
  border-radius:6px;
}
.container .wrapper-holder{
  display: flex;
  height: 100%;
  animation: slider 20s infinite;
}

.wrapper-holder div{
min-width: 100%;
}

.sizeImage{
width:750px;
height:450px;
}



@keyframes slider{
 0% { transform: translateX(0); }
  25% { transform: translateX(0); }
  50% { transform: translateX(-100%); }
  75% { transform: translateX(-200%); }
  100% { transform: translateX(-300%); }
}


.divSecVideo{
	background-color: #1e293b;
	border:1px solid #27354d;
	color:#f8fafc;
  font-family:'Poppins', sans-serif;
  text-align:center;
  justify-items: center;
  border-radius: 6px;
  padding:15px 20px 15px 20px;
	margin:0;
	box-shadow:0 10px 25px rgba(0,0,0,0.3);
  max-width: 70%;
  width:90%;
}


.videoMove{
  margin: 2rem auto;
  background-color:black;
  width:750px;
  height:450px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
  border-radius:6px;
}

h2{
  font-family:'Poppins', sans-serif;
}

@media (max-width:768px){
  .divExplicacion{
  padding:20px 10px 20px 10px;
	margin:0;
	box-shadow:0 10px 25px rgba(0,0,0,0.3);
  max-width: 90%;
}

  .divExplicacion h1{
    font-size:1.2rem;
  }

  .divExplicacion h2{
    font-size:1rem;
  }


  .divExplicacion p{
    font-size:1rem;
  }

  .container{
  max-width: 90%;
  }

  .container h1{
    font-size:1.2rem;
  }

  .container .wrapper{
  width: 100%;
  height:100%;
  }


  .sizeImage{
  width:100%;
  height:100%;
  }



.videoMove{
  width:100%;
  height:100%;
}

}