@charset "UTF-8";

.divExplicacion{
	background: #1968bd;
	background: linear-gradient(360deg,rgba(25, 104, 189, 1) 0%, rgba(87, 145, 207, 1) 35%, rgba(255, 250, 250, 1) 100%);
	position:relative;
	top:50%;
	left:50%;
	transform:translate(-50%,20%);
	max-width:700px;
	width:90%;
	text-align:left;
	padding:20px;
	border-radius:6px;
	 box-shadow: 15px 15px rgba(0,0,0,.15);
}

.divExplicacion h1{
	text-align: center;
font-family:'Poppins', sans-serif;
}




.divProyecto{
	background: #1968bd;
	background: linear-gradient(180deg,rgba(25, 104, 189, 1) 0%, rgba(87, 145, 207, 1) 35%, rgba(255, 250, 250, 1) 100%);
	max-width:800px;
	width:90%;
	position:relative;
	top:50%;
	left:50%;
	transform:translate(-50%,150%);
	border-radius:6px;
	box-shadow: 8px 8px rgba(0,0,0,.15);
	justify-items: center;
	padding: 15px 10px 15px 10px;
}

.tableProyectos{
	position:relative;
	max-width:780px;
	width: 100%;
}

.tdProyectos{
	text-align:center;
	justify-content:center;
}

.buttonProjects{
	padding: 10px 20px 10px 20px;
	text-decoration:none;
}


@media (max-width:768px) {
	.divExplicacion{
		position:absolute;
		width:90%;
		top:50%;
		left:50%;
		transform: translate(-50%,-58%);
		background-color: blueviolet;
		padding:15px 10px 15px 10px;
	border-radius:6px;
	 box-shadow: 5px 5px rgba(0,0,0,.15);
	 
	}

	p{
		font-size:1rem;
	}

	.divExplicacion h1{
		font-size: 1.3rem;
	}


	.divProyecto{
	background: #1968bd;
	width:90%;
	position:fixed;
	top:auto;
	bottom: 0;
	left:50%;
	transform:translateX(-50%);
	border-radius:0;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	box-shadow: 6px 6px rgba(0,0,0,.15);
	display:flex;
	justify-content: center;
	justify-items: center;
	justify-self: center;
	padding: 20px 0 20px 0;
	margin:0;
	}

	.tableProyectos{
	display: grid;
	border-collapse: collapse;
	position:relative;
	width:100%;

    }
	
	

	.tableProyectos tr{
		display: grid;
		grid-template-columns: repeat(2,1fr);
		gap:20px 0px;
	}

	.buttonProjects{
	font-size: 0.8rem;
	padding: 10px 15px 10px 15px;
	text-decoration:none;
}
}
